<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <nav class="nav">
      <h1 class="nav__title">Los Mejores Deportistas de México</h1>
      <ul class="nav__menu">
        <li><a href="/" class="link">Inicio</a></li>
        <li><a href="/deportes" class="link">Deportes</a></li>
        <li><a href="/contacto" class="link">Contacto</a></li>
        <li><a href="/login" class="link-active">Admin</a></li>
      </ul>
    </nav>
    <div class="form-container">
      <h1>Bienvenido al administrador</h1>
      <h1>Contador de Visitas</h1>
      <p id="contador">Cargando...</p>
    </div>
    <script src="../index.js"></script>
  </body>
</html>