<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/contacto.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Contacto</title>
  </head>

  <body>
    <div class="hero" id="home">
      <nav class="nav">
        <h1 class="nav__title">Los Mejores Deportistas de México</h1>
        <ul class="nav__menu">
          <li><a href="/" class="link">Inicio</a></li>
          <li><a href="/deportes" class="link">Deportes</a></li>
          <li><a href="/contacto" class="link-active">Contacto</a></li>
          <li><a href="/login" class="link">Iniciar Sesión</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="contact-box">
        <div class="left"></div>
        <div class="right">
          <h2>Contáctanos</h2>
          <input type="text" class="field" placeholder="Nombre" />
          <input type="text" class="field" placeholder="Correo" />
          <input type="text" class="field" placeholder="Celular" />
          <textarea placeholder="Mensaje" class="field"></textarea>
          <button class="btn">Send</button>
        </div>
      </div>
    </div>
  </body>

</html>