<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Deportes</title>
    <link rel="stylesheet" href="css/deportes.css" />
  </head>

  <body>
    <div class="hero" id="home">
      <nav class="nav">
        <h1 class="nav__title">Los Mejores Deportistas de México</h1>
        <ul class="nav__menu">
          <li><a href="/" class="link">Inicio</a></li>
          <li><a href="/deportes" class="link-active">Deportes</a></li>
          <li><a href="/contacto" class="link">Contacto</a></li>
          <li><a href="/login" class="link">Iniciar Sesión</a></li>
        </ul>
      </nav>
    </div>
    <div class="card_wrapper">
      <!-- CARTA 1 -->
      <div class="card">
        <div class="image image-1"></div>
        <div class="content">
          <a href="#">
            <span class="title">
              Atletismo
            </span>
          </a>

          <p class="desc">
            Desde la velocidad del sprint hasta la resistencia de la maratón,
            este deporte te desafiará a superar tus límites y alcanzar nuevas
            alturas.
          </p>

          <a class="action" href="/atletismo">
            Más información
            <span aria-hidden="true">
              →
            </span>
          </a>
        </div>
      </div>
      <!-- CARTA 2 -->
      <div class="card">
        <div class="image image-2"></div>
        <div class="content">
          <a href="#">
            <span class="title">
              Basketball
            </span>
          </a>

          <p class="desc">
            El basketball es una danza de agilidad y estrategia en la cancha.
            Pases precisos, tiros calculados y una defensa férrea se combinan en
            este deporte emocionante.
          </p>

          <a class="action" href="/basketball">
            Más información
            <span aria-hidden="true">
              →
            </span>
          </a>
        </div>
      </div>
      <!-- CARTA 3 -->
      <div class="card">
        <div class="image image-3"></div>
        <div class="content">
          <a href="#">
            <span class="title">
              Baseball
            </span>
          </a>

          <p class="desc">
            El baseball es un ballet de bates y pelotas, donde la precisión y la
            táctica son clave. Cada lanzamiento y cada bateo requieren habilidad
            y concentración excepcionales.
          </p>

          <a class="action" href="/baseball">
            Más información
            <span aria-hidden="true">
              →
            </span>
          </a>
        </div>
      </div>
      <!-- CARTA 4 -->
      <div class="card">
        <div class="image image-4"></div>
        <div class="content">
          <a href="#">
            <span class="title">
              Boxeo
            </span>
          </a>

          <p class="desc">
            El boxeo es el arte de la valentía y la estrategia. En el
            cuadrilátero, la determinación y la habilidad son tus mejores armas.
          </p>

          <a class="action" href="/boxeo">
            Más información
            <span aria-hidden="true">
              →
            </span>
          </a>
        </div>
      </div>
      <!-- CARTA 5 -->
      <div class="card">
        <div class="image image-5"></div>
        <div class="content">
          <a href="#">
            <span class="title">
              Tiro con Arco
            </span>
          </a>

          <p class="desc">
            El tiro con arco es una disciplina de precisión y concentración.
            Cada flecha es una expresión de calma y control. Cada segundo es
            valioso en este deporte.
          </p>

          <a class="action" href="/arco">
            Más información
            <span aria-hidden="true">
              →
            </span>
          </a>
        </div>
      </div>
      <!-- CARTA 6 -->
      <div class="card">
        <div class="image image-6"></div>
        <div class="content">
          <a href="#">
            <span class="title">
              Volleyball
            </span>
          </a>

          <p class="desc">
            El volleyball es una sinfonía de toques y remates en la arena. La
            comunicación y la coordinación son esenciales en este juego de
            equipo.
          </p>

          <a class="action" href="/voleyball">
            Más información
            <span aria-hidden="true">
              →
            </span>
          </a>
        </div>
      </div>
    </div>

  </body>

</html>