<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/deportes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/layout_deportes.css">
    <title>Administrador Voleyball</title>
</head>

<body>
        {{> navbar}}
    <div class="body-container">
        <div class="form-container">
            {{> playerForm}}
        </div>
        <div class="wrapper_players">
            <h2>BOXEO</h2>
            {{> adminPlayerList}}
        </div>
    </div>
</body>