<html>

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="assets/css/deportes.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/layout_deportes.css" />
    <title>Administrador Box</title>
  </head>

  <body>
      {{> navbar}}


    <div class="wrapper_players">
      <h2>BOX</h2>
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Saul "El Canelo" Alvarez</h3>
              <p>
                Saúl "El Canelo" Álvarez es el actual campeón mundial de la AMB,
                CMB, OMB y FIB de peso supermediano. También fue campeón de la
                AMB, CMB, FIB y The Ring de peso medio, campeón de la AMB, CMB,
                OMB, The Ring y FIB de peso superwélter, y campeón de la OMB de
                peso semicompleto. En el año 2023, el tapatío sigue en la lucha
                y demuestra a cabalidad que es un gran boxeador y el máximo
                representante del boxeo de México en la actualidad.
              </p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/canelo.jpg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>

      <!-- deportista 2  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Julio César Chávez</h3>
              <p>
                Julio César Chávez fue un boxeador mexicano que compitió
                profesionalmente entre 1980 y 2005, obteniendo títulos mundiales
                en tres diferentes divisiones de peso: Superpluma, Ligero y
                Superligero. Acumuló 107 victorias (87 de ellas por knockout),
                dos empates ante Pernell Whitaker y Miguel Ángel González, y
                seis derrotas ante Frankie Randall, Óscar de la Hoya, Willy
                Wise, Kostya Tszyu y Grover Wiley. Triunfó en sus primeros 87
                combates y fue derrotado por primera vez en su enfrentamiento
                número 90.</p>
              <p>Fue reconocido por su excepcional pegada, su poderoso gancho al
                hígado, el incesante acoso a sus oponentes y una mandíbula
                extremadamente resistente. Es considerado uno de los mejores
                libra por libra del mundo en la década de 1990 y también como el
                mejor boxeador que ha dado México. Fue incluido en el Salón
                Internacional de la Fama del Boxeo en la edición de 2011.
              </p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/julio_cesar_chavez.jpg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>

      <!-- deportista 3  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Juan Manuel Márquez</h3>
              <p>
                Juan Manuel Márquez, más conocido como "Dinamita", es un
                exboxeador profesional mexicano que boxeó desde 1993 hasta 2014.
                Fue el cuarto boxeador mexicano en convertirse en campeón del
                mundo en tres categorías de peso después de Julio César Chávez,
                Erik Morales y Marco Antonio Barrera. También es el tercer
                boxeador mexicano en convertirse en campeón mundial en cuatro
                categorías de peso después de Erik Morales y Jorge Arce.
              </p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/juan_manuel_marquez.jpg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>

      <!-- deportista 4  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Erik Morales</h3>
              <p>Érik es el primer peleador mexicano en conseguir campeonatos
                mundiales en cuatro divisiones: supergallo, pluma, superpluma y
                superligero.1​ Fue campeón mundial del CMB y OMB en peso
                supergallo, CMB en peso pluma, CMB y FIB en peso superpluma y
                del CMB en peso superligero. Enfrentó a 19 campeones mundiales,
                de los cuales pudo vencer a 16 de ellos.1​ Logró el estatus de
                leyenda debido a la trilogía de combates con el campeón en tres
                divisiones Marco Antonio Barrera y con el campeón en ocho
                divisiones Manny Pacquiao.
              </p>
              <p>Morales fue uno de los boxeadores más emocionantes de su era y
                enfrentó a todos en su división de peso y cerca de ella. Su
                trilogía con Marco Antonio Barrera es considerada una de las
                mejores en la historia del boxeo, y las tres contiendas fueron
                candidatas a pelea del año. Tuvo victorias notables sobre
                Barrera, Pacquiao, Jesús Chávez, Carlos Hernández, Junior Jones,
                Wayne McCullough, Daniel Zaragoza, Kevin Kelley y Guty Espadas.
                Tiene victorias sobre dos boxeadores que ya están en el Salón de
                la Fama del Boxeo - Barrera y Zaragoza - y una sobre Pacquiao
                que probablemente ingresará.2​ En los años 2000 y 2004 fue
                reconocido por protagonizar la mejor pelea del año, las dos al
                lado de su acérrimo rival, Marco Antonio Barrera.1​</p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/erik_morales.jpeg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>
      <!-- deportista 5  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Rubén Olivares</h3>
              <p>
                Rubén Olivares Avila (Ciudad de México, 14 de enero de 1947) es
                un ex-boxeador y actor mexicano, miembro actual del Salón
                Internacional de la Fama del Boxeo. Olivares, más conocido por
                su apodo El Púas, fue un múltiple campeón mundial y considerado
                por mucha gente como el mejor campeón peso gallo de todos los
                tiempos. Poseedor de una pegada descomunal en ambos puños que le
                dieron numerosas victorias por nocauts. Fue muy popular entre
                los mexicanos, de los cuales gran parte de ellos lo consideraron
                el mejor boxeador de México durante muchos años, hasta que
                surgió Julio César Chávez años después, participando en más de
                cien peleas profesionales tanto en peso gallo como en peso
                pluma. Olivares tuvo breves apariciones en el cine mexicano,
                sobre todo en películas de "ficheras".
              </p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/ruben_olivares.jpeg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>

      <!-- deportista 6  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Marco Antonio Barrera</h3>
              <p>
                Marco Antonio Barrera (Ciudad de México, 17 de enero de 1974) es
                un exboxeador profesional y comentarista mexicano. Fue campeón
                mundial en tres divisiones diferentes: Supergallo por la OMB;
                Pluma por el CMB; y Superpluma por el CMB y la FIB.1​ Es
                conocido por su épica trilogía de combates contra Érik
                Morales,2​ sus dos peleas contra Manny Pacquiao y su rivalidad
                con Naseem Hamed y Juan Manuel Márquez. La primera y la tercera
                pelea con Morales fueron nombradas como Combate del Año en 2000
                y 2004 respectivamente.
              </p>
              <p>
                Entre 2001 y 2007 fue considerado por la revista The Ring como
                uno de los mejores boxeadores Libra por Libra, alcanzando la
                posición número 3 entre 2002 y 2005.3​4​ ESPN lo clasificó con
                el número 43 en su lista Los 50 Mejores Boxeadores de la
                Historia.5​ En 2016 ESPN lo clasificó con el número 13 de su
                lista Los Mejores Boxeadores Libra Por Libra de los Últimos 25
                Años. .2​ En 2017 fue introducido al Salón Internacional de la
                Fama del Boxeo. Actualmente, es comentarista deportivo en la
                cadena BoxAzteca Deportes.</p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/Marco_Barrera.jpeg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>

      <!-- deportista 7  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3> Salvador Sánchez</h3>
              <p>
                Salvador Sánchez Narváez (Santiago Tianguistenco, 26 de enero de
                1959 — Querétaro, 12 de agosto de 1982) fue un boxeador
                profesional mexicano que llegó a consagrarse campeón de los
                pesos pluma del Consejo Mundial de Boxeo.
              </p>
              <p>
                Fue uno de los mejores boxeadores de su país, en 1996, fue
                ubicado como el 26 mejor de la historia y su pelea ante Wilfredo
                Gómez se considera la victoria más grande de México sobre Puerto
                Rico. Desde el año 1991, es miembro del Salón Internacional de
                la Fama del Boxeo.</p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/salvador_sanchez.jpeg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>

      <!-- deportista 8  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Ricardo López</h3>
              <p>
                Ricardo “El Finito” López Nava (25 de julio de 1966, Miguel
                Hidalgo, Ciudad de México) es un exboxeador profesional
                mexicano. Finalizó su carrera con récord invicto en 52 combates.
                Fue campeón mundial de peso mínimo del Consejo Mundial de Boxeo,
                también ganó los campeonatos de la Asociación Mundial de Boxeo y
                la Organización Mundial de Boxeo en la misma categoría.
                Posteriormente conquistó el título de la Federación
                Internacional de Boxeo en peso minimosca, el cual defendió con
                éxito en dos ocasiones antes de retirarse del deporte
                profesional. Realizó 21 defensas consecutivas de sus títulos
                desde 1990 hasta 2001.
              </p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/ricardo_lopez.jpeg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>
    </div>

  </body>

</html>