<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/deportes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/layout_deportes.css">
    <title>Administrador Voleyball</title>
</head>

<body>
     {{> navbar}}


    <!-- deportista 1  -->
    <div class="wrapper_players">
        <h2>Voleyball</h2>
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Jorge Quiñones </h3>
                        <p>
                            Ha representado a México en la selección nacional de voleibol masculino en numerosas
                            competencias
                            nacionales e internacionales. Ha sido un pilar importante en el equipo mexicano y ha
                            participado en
                            torneos como los Juegos Panamericanos, Campeonatos Mundiales y otros eventos de voleibol de
                            alto nivel.
                            Él ha representado a México en la selección nacional de voleibol masculino en numerosas
                            competencias nacionales
                            e internacionales. Ha sido un pilar importante en el equipo mexicano y ha participado en
                            torneos como los Juegos
                            Panamericanos, Campeonatos Mundiales y otros eventos de voleibol de alto nivel.
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Jorge_Quiñones.jpg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>

        <!-- deportista 2  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Andrea Rangel</h3>
                        <p>
                            Ha sido una parte importante del equipo nacional de voleibol femenino de México y ha
                            competido
                            en numerosas competencias nacionales e internacionales, a lo largo de su carrera, ha
                            acumulado
                            una serie de logros y reconocimientos en el voleibol. Puede haber participado en torneos
                            como los
                            Juegos Panamericanos, Campeonatos Mundiales y otros eventos importantes, representando a
                            México.
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Andrea_Rangel.jpg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>
        <!-- deportista 3  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Iván Contreras</h3>
                        <p>
                            Es un exjugador de voleibol profesional mexicano. Su posición en el campo es la de
                            atacante
                            externo.
                            Contreras ha sido elegido jugador del año en 2005, 2007 y 2008 en Bélgica, contreras
                            asistió
                            a la
                            Universidad Penn State, donde ganó un Campeonato Nacional de la NCAA como estudiante de
                            primer año y
                            fue nombrado Jugador Nacional del Año de la AVCA en 1997.En 2004 ganó el premio MVP de
                            la
                            Liga de Voleibol
                            Superior Masculino , jugando con Gigantes.
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Ivan_Contreras.jpg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Jocelyn Urías</h3>
                        <p>
                            Ella suele desempeñarse como central en la cancha de voleibol. Esta posición se caracteriza
                            por ser una
                            jugadora clave en la red, tanto en la defensa como en el ataque, a representado a México en
                            la selección
                            nacional de voleibol en competencias internacionales. Ha participado en torneos como los
                            Juegos Panamericanos,
                            Campeonatos Mundiales y otros eventos importantes en el ámbito internacional, además ha
                            acumulado una serie de
                            logros y reconocimientos en el voleibol. Puede haber obtenido medallas en competencias
                            internacionales,
                            distinciones individuales y contribuido al éxito de su equipo.
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Jocelyn_Urias.jpg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>
    </div>
</body>