<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="assets/css/deportes.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/layout_deportes.css" />
  <title>Administrador Tiro con arco</title>
</head>

<body>
  {{> navbar}}
  <div class="wrapper_players">
    {{> playerForm}}
    <h2>TIRO CON ARCO</h2>
    {{> adminPlayerList}}
  </div>
</body>