<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/deportes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/layout_deportes.css">
    <title>Tiro con arco</title>
</head>

<body>
    <div class="hero" id="home">
        <nav class="nav">
            <h1 class="nav__title">Los Mejores Deportistas de México</h1>
            <ul class="nav__menu">
                <li><a href="/" class="link">Inicio</a></li>
                <li><a href="/deportes" class="link-active">Deportes</a></li>
                <li><a href="/contacto" class="link">Contacto</a></li>
                <li><a href="/login" class="link">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>

    <!-- deportista 1  -->
    <div class="wrapper_players">
        <h2>TIRO CON ARCO</h2>
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Aída Nabila Román Arroyo</h3>
                        <p>
                            Es una deportista mexicana de la especialidad de tiro con arco, ganadora de la medalla de
                            plata en tiro con arco individual en Londres 2012 y campeona de Centroamérica y del Caribe
                            en Mayagüez 2010
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Aida-Nabila-Roman-Arroyo.webp"
                        alt="Imagen del deportista en concreto" class="image">
                </div>
            </div>
        </div>

        <!-- deportista 2  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Alejandra Valencia Trujillo</h3>
                        <p>
                            Es una atleta mexicana especializada en tiro con arco. Es medallista de bronce en los Juegos
                            Olímpicos de Tokio 2020, tres veces campeona en los Juegos Panamericanos y medallista de
                            Plata en el Campeonato Mundial de Berlín 2023.</p>

                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/alejandra_valencia_trujillo.jpeg"
                        alt="Imagen del deportista en concreto" class="image">
                </div>
            </div>
        </div>

        <!-- deportista 3  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Ángela Ruiz</h3>
                        <p>
                            Apenas tiene 16 años, pero Ángela Ruiz bien puede ser considerada como una de esas joyas que
                            se dan a
                            cuentagotas en el deporte nacional. Hace unas semanas ella fue parte de la historia en el
                            tiro con arco
                            mexicano cuando obtuvo, junto a Aída Román y Alejandra Valencia, la medalla de oro en la
                            Copa del Mundo
                            de Antalya (Turquía) en la modalidad de equipos.
                        </p>
                        <p>Y sí, entre las medallistas olímpicas –Aída en Londres 2012 y Alejandra Valencia en Tokio
                            2020– destacó la figura de Ángela.
                            Una atleta juvenil que no acusó la inexperiencia de contender apenas en su primer evento con
                            el equipo de la selección nacional.
                            Por este mismo motivo, ahora se ilusiona con la gran posibilidad de participar en sus
                            primeros Juegos Olímpicos dentro de un año
                            en París, Francia.</p>

                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Angela_Ruiz.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>
</body>