<html>

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="assets/css/deportes.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/layout_deportes.css" />
    <title>ATLETISMO</title>
  </head>

  <body>
    <div class="hero" id="home">
      <nav class="nav">
        <h1 class="nav__title">Los Mejores Deportistas de México</h1>
        <ul class="nav__menu">
          <li><a href="/" class="link">Inicio</a></li>
          <li><a href="/deportes" class="link-active">Deportes</a></li>
          <li><a href="/contacto" class="link">Contacto</a></li>
          <li><a href="/login" class="link">Iniciar Sesión</a></li>
        </ul>
      </nav>
    </div>
    <div class="wrapper_players">
      <h2>ATLETISMO</h2>
      <!-- deportista 1  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Ernesto Canto</h3>
              <p>Atleta mexicano especializado en marcha atlética. La distancia
                donde obtuvo mejores resultados fue la de 20 km marcha. Campeón
                olímpico de 20 km marcha en los Juegos Olímpicos de Los Ángeles
                1984. Junto con María del Rosario Espinoza, son los únicos
                deportistas mexicanos campeones de todas las competencias del
                denominado ciclo olímpico (Centroamericanos, Panamericanos,
                Mundial y Juegos Olímpicos), con la diferencia que Canto lo hizo
                en el mismo ciclo, entre 1982-84.</p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/ErnestoCanto.jpg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>

      <!-- deportista 2  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Daniel Bautista</h3>
              <p>Fue el ganador de la medalla de oro en marcha 20 km en Montreal
                1976, pero también monarca Panamericano en 1975 y 1979, y fue
                poseedor del récord mundial en la disciplina.
              </p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/DanielBautista.jpg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>

      <!-- deportista 3  -->
      <div class="box">
        <div class="box-wrapper">
          <div class="box-text">
            <div class="text">
              <h3>Ana Guevara</h3>
              <p>La única velocista mexicana en la historia que ha ganado una
                medalla olímpica y fue plata en Atenas 2004, derrotada por la
                bahameña Tonique Williams.</p>
            </div>
          </div>
          <div class="box-image">
            <img
              src="img/deportistas/AnaGuevara.jpg"
              alt="Imagen del deportista en concreto"
              class="image"
            />
          </div>
        </div>
      </div>
    </div>
  </body>

</html>