<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/deportes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/layout_deportes.css">
    <title>Baseball</title>
</head>

<body>
    <div class="hero" id="home">
        <nav class="nav">
            <h1 class="nav__title">Los Mejores Deportistas de México</h1>
            <ul class="nav__menu">
                <li><a href="/" class="link">Inicio</a></li>
                <li><a href="/deportes" class="link-active">Deportes</a></li>
                <li><a href="/contacto" class="link">Contacto</a></li>
                <li><a href="/login" class="link">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>

    <!-- deportista 1  -->
    <div class="wrapper_players">
        <h2>BASEBALL</h2>
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Beto Ávila</h3>
                        <p>
                            Logró disputar 11 años en la MLB, donde repartió su talento con los Atlanta Braves,
                            Baltimore Orioles,
                            Boston Red Sox y por supuesto, con los Cleveland Indians, donde mostró su mejor versión
                            (1952-1955). Se
                            ganó tres invitaciones al Juego de Estrellas y logró ser el "Champion bat" de la Liga
                            Americana en 1954
                            con .341 en su porcentaje de bateo.
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/beto_avila.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>

        <!-- deportista 2  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Aurelio Rodríguez</h3>
                        <p>
                            Rodríguez destacó por ser un excelente jugador defensivo, encargado de
                            proteger a capa y espada la esquina caliente (tercera base). En 1976
                            ganó el Guante de Oro de la Liga Americana con los Detroit Tigers y
                            siempre fue reconocido pro su potente brazo.</p>

                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/aurelio_rodriguez.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>

        <!-- deportista 3  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Vinicio Castilla</h3>
                        <p>
                            El mejor momento del oaxaqueño arribó con los Colorado Rockies,
                            aunque también tuvo impresionantes números con los Atlanta Braves.
                            Logró tener presencia en tres Juegos de Estrellas y es conocido por ser
                            el primer mexicano en superar las mil carreras impulsadas, además de
                            lograr 300 home runs.
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/vinicio_castilla.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>

        <!-- deportista 4  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Adrián González</h3>
                        <p>
                            El Titán obtuvo su boleto para cinco Juegos de Estrellas y ganó cuatro
                            Guantes de Oro, sumados a dos bats de plata, uno en cada liga. Logró retirarse con la
                            segunda
                            mejor marca de cuadrangulares (314) y
                            siendo el primero en carreras impulsadas (1,193), siendo sin duda, uno de los
                            beisbolistas más completos de la MLB.
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Adrian_gonzalez.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>

        <!-- deportista 5  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Fernando Valenzuela</h3>
                        <p>
                            Por supuesto, no se puede hablar de los mejores beisbolistas mexicanos
                            en la historia de MLB sin mencionar la Fernandomanía. El sonorense
                            ganó el premio Cy Young y el Novato del Año en 1981, siendo invitado al
                            Juego de las Estrellas en seis ocasiones y consiguió un anillo de Serie
                            Mundial con los Dodgers en 1981, entre otros galardones.
                        </p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Fernando_Valenzuela.jpeg"
                        alt="Imagen del deportista en concreto" class="image">
                </div>
            </div>
        </div>

    </div>


</body>
</body>