<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/deportes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/layout_deportes.css">
    <title>Basketball</title>
</head>

<body>
    <div class="hero" id="home">
        <nav class="nav">
            <h1 class="nav__title">Los Mejores Deportistas de México</h1>
            <ul class="nav__menu">
                <li><a href="/" class="link">Inicio</a></li>
                <li><a href="/deportes" class="link-active">Deportes</a></li>
                <li><a href="/contacto" class="link">Contacto</a></li>
                <li><a href="/login" class="link">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>
    <!-- deportista 1  -->

    <div class="wrapper_players">
        <h2>BASKETBALL</h2>
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Manuel Raga</h3>
                        <p>
                            El tamaulipeco es el único mexicano que forma parte del Salón de la Fama de la Federación
                            Internacional
                            de Baloncesto, gracias a sus logros en el Ignis Varese de la Serie A.
                        </p>
                        <p> Empezó en su natal Villa Aldana y llamó la atención del mundo FIBA con sus apariciones en el
                            Mundial de 1967
                            y en los JJOO de 1968. Su estatura y su gran tiro medio exhibido en esas competencias lo
                            llevaron a Italia.
                            De inmediato rindió frutos: se consagró campeón de Italia y de la Copa en su año de debut.
                            Después, llevó al
                            Varese a tres Euroligas (1970, 1972, 1973) y a otros seis títulos. Tras cinco años en Italia
                            emigró al Lugano
                            suizo, donde también sumó trofeos: tres ligas y una copa.</p>
                        <p>Fue drafteado por los Atlanta Hawks, pero declinó la invitación, ya que en ese entonces jugar
                            en la NBA significaba
                            renunciar a la Selección Mexicana. Un ídolo en Varese, donde es recordado como ‘Il
                            Messsicano Volante’; en 2016
                            fue nombrado como ciudadano honorario por el ayuntamiento local.</p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Manuel_Raga.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>

        <!-- deportista 2  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Arturo Guerrero</h3>
                        <p>
                            Apodado ‘Mano Santa’, por su gran puntería, despuntó en Telepar, Veracruz y Lechugueros de
                            León ya en el
                            extinto Circuito Mexicano de Basquetbol.</p>
                        <p>También jugo en Italia, Brasil, Puerto Rico y Cuba. Sus mayores glorias las consiguió con la
                            Selección
                            Mexicana, a la cual representó entre 1967 y 1981; participó en dos Juegos Olímpicos (1968 y
                            1976) y
                            dos Mundiales (1967 y 1974).</p>
                        <p>Ganó una medalla de plata panamericana (1967) y fue el máximo anotador del Mundial FIBA de
                            Puerto
                            Rico (27 puntos por partido), en el cual México alcanzó la 9° posición general. El
                            guanajuatense
                            ganó dos títulos de liga con Lechugueros y se adjudicó el récord de puntos histórico del
                            Circuito
                            en un solo partido: 52. Lakers, Cavaliers y Spurs lo pretendieron, pero tomó la misma
                            decisión que
                            Raga.</p>

                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/arturo_guerrero.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>

        <!-- deportista 3  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Carlos Quintanar</h3>
                        <p>
                            Nacido en Ciudad Juárez, forma parte de la misma generación que Raga y ‘Mano Santa’.
                            Conocido como ‘Aguja’ o
                            ‘Pisolitas’, jugó en cuatro Mundiales, tres JJOO y cuatro Panamericanos. Junto a ‘Mano
                            Santa’ se colgó la plata
                            panamericana en Winnipeg 1967. Fue elegido como el MVP del Preolímpico FIBA de 1964, en
                            Yokohama.
                        </p>
                        <p>En 1971, se convirtió en el segundo mexicano en ser drafteado para la NBA (tras Raga), pero
                            rechazó la
                            selección de los San Diego Rockets (hoy Houston Rockets) en el pick 234°. Optó por seguir
                            defendiendo la
                            playera del equipo nacional.</p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Carlos_Quintanar.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>
        <!-- deportista 4  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Eduardo Nájera</h3>
                        <p>
                            El alero de Chihuahua ingresó y jugó en la NBA a través del sistema universitario vía draft:
                            único mexicano en
                            hacerlo. Después de aprender los fundamentos en la escuela de los Dorados de Chihuahua, se
                            enroló con la
                            Universidad de Oklahoma, donde brilló con luz propia de 1997 a 2000: fue parte del quinteto
                            ideal del Big 12 y
                            considerado uno de los mejores prospectos colegiales de aquellas épocas.
                        </p>
                        <p>Los Dallas Mavericks lo seleccionaron como el pick 30 del NBA Draft de 2000; en Texas
                            coincidió
                            con Dirk Nowitzki,
                            Steve Nash y Michael Findley y tuvo un rol importante. Después pasó por Warriors, Nuggets
                            (donde
                            fue titular, junto a
                            Carmelo Anthony), Nets y Bobcats, además de un regreso a Dallas en 2010. </p>
                        <p>En total, estuvo 12 temporadas de forma ininterrumpida en la máxima liga de baloncesto del
                            planeta: jugó 619 partidos y
                            alcanzó las finales de Conferencia (en 2003, con Dallas).</p>
                    </div>
                </div>
                <div class="box-image">
                    <img src="img/deportistas/Eduardo_Najera.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>

        <!-- deportista 5  -->
        <div class="box">
            <div class="box-wrapper">
                <div class="box-text">
                    <div class="text">
                        <h3>Gustavo Ayón</h3>
                        <p>
                            ‘El Titán’ es el único de los cinco mexicanos en la NBA en arribar a la liga sin pasar por
                            Estados Unidos. Debutó con
                            Halcones de Xalapa, donde logró dos campeonatos; desfiló por Cibacopa y Venezuela (campeón
                            con
                            Marinos de Anzoátegui)
                            antes de dar el paso a Europa: el Fuenlabrada lo cedió a Illescas y Tenerife antes de jugar
                            con
                            los primeros, con
                            quienes destacó a tal grado de llamar la atención de la NBA.
                        </p>
                        <p>En la Asociación se estableció por tres años en cuatro equipos: Hornets, Magic, Bucks y
                            Hawks,
                            con quienes apareció en un
                            total de 135 duelos. En 2014 fichó con el Real Madrid, donde vivió su época dorada: fue una
                            pieza clave de un equipo histórico
                            que conquistó dos Euroligas (2015 y 2018), cuatro ligas, tres copas y dos Supercopas.</p>
                        <p>Fue MVP de la Copa del Rey 2016 y parte del quinteto ideal del Final Four de la Euroliga de
                            2018.
                            También figuró en el
                            Zenit ruso, volvió a México con Astros de Jalisco y terminará su carrera en Capitanes de
                            Arecibo, en Puerto Rico.</p>
                    </div>
                </div>
                <div class="box-image">

                    <img src="img/deportistas/Gustavo_Ayon.jpeg" alt="Imagen del deportista en concreto"
                        class="image">
                </div>
            </div>
        </div>
    </div>
</body>